<div class="hello_world" style="margin-bottom: 10%;">

  <div>
    <%= image_tag "MaxPic.JPG", class: "photo_about"%>
  </div>

  <div class="container_about">
    <%= render "shared/cards_about" %>
  </div>


</div>
