<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img-4.linternaute.com/_S-OYdcA_rXrKs9UZzWIZ3AIF_I=/1500x/smart/c429983d56454183a6906e90653d8bb4/ccmcms-linternaute/10654260.jpg)" >
    Qui suis-je ?
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.freepik.com/photos-premium/desktop-source-code-wallpaper-by-computer-langage-codage-programmation_33771-595.jpg)">
    Savoir Faire
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://officeservicecompany.com/wp-content/uploads/2021/01/MobileHero.jpg)">
    Expèriences Pro
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.licdn.com/dms/image/D4E03AQFCA3ZIy8l4_Q/profile-displayphoto-shrink_800_800/0/1707056371270?e=1713398400&v=beta&t=RaNkvMN5o1knqEoCrN1fa99Cnplzzmgf5aqpy4WAjP0)">
    Galerie Photos
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://static.vecteezy.com/system/resources/thumbnails/027/440/394/original/white-paper-texture-stop-motion-free-video.jpg)">
    Devis
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://sf1.psychologies.com/wp-content/uploads/psycho/2023/12/shutterstock_2276454315.jpg)">
    Contact
  </div>
</div>
