<div class="container_me">

    <div class="title_about col-6 pt-2 pl-3">
        <h1>
          Bonjour <br>
          Je m'appelle <br>
          Maxime Rollinde de Beaumont
        </h1>
    </div>

    <div class="text_about col-6 pt-3">
      <p>
        Motivé, Studieux, Autonome et aime le travail en équipe.
        Avec de bonnes connaissances sur le travail d’entreprise, je sais
        m’adapter à des situations de stress et suis à l’écoute.
        Je suis capable d’innover, proposer des idées et amener une
        bonne énergie.
      </p>
    </div>

</div>


<div class="container_me">

    <div class="title_about ol-6 px-3">
        <h1>Intérêt</h1>
    </div>

    <div class="text_about col-6 pt-2">
        <p>
          J'aime beaucoup la musique et notament en faire : <br>
          Je fait du piano et de la guitare en auto-didacte.
        </p> <br>
        <p> ÉCLAIREURS DE FRANCE / Branche du scoutisme laïc (DEPUIS 2001), DIVERS SPORTS<br></p>
    </div>

</div>


<div class="container_me">

    <div class="title_about ol-6 px-3">
      <h1>VOYAGES</h1>
    </div>

    <div class="text_about col-6 pt-2">
      <p>Cambodge, Espagne, Costa Rica,
        Panama, Colombie, Portugal,
        Grèce, Autriche, Irlande,
        Pologne, Allemagne, Turqui,
        Italie, Chine, Australie, Pays-Bas,
        États-Unis, Angletter.
      </p>
    </div>

</div>
