<footer>

  <h2>CONTACTS</h2>

  <p>161 Chemin du Rayat, 31600 Muret, FRANCE</p>

  <div class="tel">
    <a href="tel:06 38 91 36 19 "><img src="img/phone.webp" alt="num"></a>
    <a href="mailto:Maximerdb@hotmail.fr"><img src="img/lettre.webp" alt="mail"></a> <br>
    <p> Si vous avez besoin de plus d'informations, je vous invite à me contacter par mail ou sms via les liens ci-dessus.</p>
  </div>

</footer>
