
<div class="footer">
  <p>CONTACT</p>
  <div class="container">
    <div class= "row">
      <div class="col-4">
        <a href="https://www.linkedin.com/in/maxime-rollinde-de-beaumont-2520b41ab/"><%= image_tag("Linkedin.png", class: "img") %></a>
      </div>
      <div class="col-4">
        <a href="https://github.com/MaximeRDB"><%= image_tag("Githublogo.png", class: "img") %></a> <br>
      </div>
      <div class="col-4">
        <a href="mailto:Maximerdb@hotmail.fr"><%= image_tag("lettre.webp", class: "img") %></a> <br>
      </div>
    </div>
    <p> ©2024 Rollinde de Beaumont Maxime Si vous avez besoin de plus d'informations, je vous invite à me contacter via les liens.</p>
  </div>
</div>
