<footer>
  <div class="footer">
    <p>CONTACT</p>
    <div class= "container text-center">
      <div class= "row">
        <div class="col">
          <a href="tel:06 38 91 36 19 "><%= image_tag("phone.webp", class: "img") %></a>
        </div>
        <div class="col">
          <a href="mailto:Maximerdb@hotmail.fr"><%= image_tag("lettre.webp", class: "img") %></a> <br>
        </div>
      </div>
      <p> Si vous avez besoin de plus d'informations, je vous invite à me contacter par mail ou sms via les liens ci-dessus.</p>
    </div>
  </div>
</footer>
