<div>
  <nav>
    <details>
    <summary id="dm">Découvrez-moi</summary>
      <ul>
        <li> <a href="index.html">Curriculum Vitae</a></li>
        <li> <a href="lettre.html">Lettre de motivation</a></li>
        <li> <a href="hobbies.html">Mes hobbies</a> </li>
        <li> <a href="portfolio.html">Mes projets</a> </li>
      </ul>
    </details>
  </nav>
  <br>
</div>
