        <div class="langues">
        <h2>LANGUES</h2>
        <ul>
          <li>FRANÇAIS - langue maternelle</li>
          <li>ANGLAIS - B2</li>
          <li>ESPAGNOL - A2</li>
        </ul>
      </div>
<br>

       <div class="DIPLÔMES">
        <h2>DIPLÔMES</h2>

           <strong>BAC PRO RESTAURANT</strong><br>
            CFA SERVICE & COMMERCE BLAGNAC, FRANCE
            TOULOUSE & MURET <br>
<br>

           <strong>CAP COMMERCIALISATION ET SERVICES</strong> <br>
            EN HÔTEL-CAFÉ-RESTAURANT
            CFA SERVICE & COMMERCE BLAGNAC, FRANCE <br>
            <br>
            Permis B et A1 &#128692 <br>
            <br>
       </div>
          <div class="exp">
            <br>
              <h2> <strong>EXPÉRIENCES</strong></h2>
            <ul>
              <br>
              <li><strong>Juin 2022 à Aujourd'hui</strong><br>
              CHEF DE PARTIE PIZZAÏOLO
            PRIMA DES COLONNES, BIARRITZ <br>
De la pâte à la production.</li>
<br>
              <li><strong>Septembre 2022 à Juin 2022</strong><br>
              DIRECTEUR D'EXPLOITATION
              LA GRANDE PIZZERIA, TOULOUSE. <br>
              Gestion générale.
              </li>
              <br>
              <li> <strong>Août 2020 à Septembre 2022</strong><br>
                DIRECTEUR ADJOINT
                LES 4 SAISONS,TOULOUSE <br>
                Gestion du restaurant, des commandes et formation de deux apprentis.
              </li>
              <br>
<li> <strong>Septembre 2019 à Mars 2020</strong><br>
  RESPONSABLE DE SALLE ET SERVEUR
  TRAMSHED RESTAURANT, LONDRES, ANGLETERRE <br>
  Service, ouverture et fermeture des caisses et du
  restaurant. Responsable des commandes en salle. Gestion d'une équipe et co-working.
  Formation des jeunes serveurs.
  </li>
  <br>
  <li> <strong>Août 2018 à Août 2019</strong> <br>
    DIRECTEUR ADJOINT
    LA GRANDE PIZZERIA, TOULOUSE <br>
    Construction des menus en collaboration avec le chef de 2019 cuisine, fixation des prix, gestion produits, rotation des
    plannings. Recrutement, formation, gestion d’une équipe de plus de 10 serveurs/serveuses, travail de communication en équipe.</li>
          <br>
    <li> <strong>Avril 2018 à Juin 2018</strong><br>
            SERVEUR
            MONLI RESTAURANT, PUERTO VIEJO, COSTA RICA <br>
            Prise de commandes, bar, explication du menu en
            Français, Anglais & Espagnol.</li>
            <br>
            <li><strong>Octobre 2016 à Octobre 2017</strong><br>
              SERVEUR / AIDE BARMAN / BARMAN <br>
              GROUPE MÉRIVAL, M’S G’S, FISH SHOP
              RESTAURANT, SYDNEY, AUSTRALIE <br>
              2017 Runner, service, accueil, aide barman, élaboration des
              cocktails</li> <br>
  </ul>
    </div>
    </section>
