.cards_section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.cards_xp {
  overflow: hidden;
  height: auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 20px;
}

.cards_xp img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.cards_xp h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.cards_xp p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.cards_xp .card-xp-infos {
  padding: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards_section {
    grid-template-columns: 1fr;
    margin-bottom: 30%;
    padding-top: 10%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards_section {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30%;
    padding-top: 10%;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards_section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards_section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards_section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
