.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 70px;
  border-radius: 12px;
  color: aliceblue;
  text-align: center;
  height: -webkit-fill-available;
}
.card-category{
  font-size: larger;
  height: 140px;
  width: 423px;
  object-fit: cover;
}

.card-category:hover{
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
}
.card_title{
  color: white;
  margin: -82px;
  font-size: 130%;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
