.footer {
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  padding: 0px 50px;
  color: rgb(255, 255, 255);
  font-size: small;
  text-align: center;
  margin-bottom: 0%;
  margin-top: 15%;
}
.row{
  width: 7%;
}
