.container_portfolio{
  background-color: rgb(254, 178, 79);
  height: auto;
  width: auto;
  margin-top: 6%;
  padding: 1%;
  margin-left: 14%;
  display: flex;
  margin-right: 40%;
  font-family: raleway;
  min-width: 460px;
  padding-top: 2%;
  margin-bottom: 7%;
  h1{
    font-family: 'Courier New', monospace;
  }
}
