.container_me{
  background-color: rgb(254, 178, 79);
  height: auto;
  width: auto;
  margin-top: 6%;
  padding: 1%;
  margin-left: 14%;
  display: flex;
  margin-right: 40%;
  font-family: raleway;
  max-width: 400px;
  min-width: 400px;
  max-height: 380px;
}
