h1{ text-align: center; letter-spacing: 3px; margin-top: 8pc;font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    width:50%;}
h8{text-align: center; font-size: 1.2rem; color: white; margin-top: 8pc; width: 50%;font-size: x-large;}

.tout {text-align: center;}

.A {
    text-align: center;
    color: aliceblue;
    font-size: x-large;
}
.r{

    border: 1px solid rgba(255, 255, 255, 0.691);
}
.hob1{
    background-image: url(img/montagne.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: none;
    width: auto;
    height: cover;
}
.CV{
    background-color: black;
    background-image: url(img/sweet.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: none;
    width: 100%;
    height: 200px;
}
.pf{
    background-color: rgba(14, 111, 50, 0.638);
    background-size: auto;
    background-position: top;
    width: 100%;
    height: 200px;
}

.motiv1{
    background-image: url(img/galaxie.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: none;
    width: auto;
    height: cover;
}


.tel{
    width :300px;
    height: 300px;
    border: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

img {border-style: hidden;
width: 20% ; height: 20%; border-radius: 200px;
margin-left: 0%;
position:center;
}

div {text-align: center;}
ul{align-content: center;
}

.langues {
    color: black;
    height: auto;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.706);
    border-radius: 100px ;
    border: 2px solid rgba(123, 6, 6, 0.793);
    box-shadow: 0 0 10px 0 rgba(123, 6, 6, 0.793);
    block-size: auto;
}

.motiv {
    height: 900px;
    width: 80%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.706);
    border-radius: 100px ;
    border: 2px solid rgba(123, 6, 6, 0.793);
    box-shadow: 0 0 10px 0 rgba(123, 6, 6, 0.793);
    margin-top: 8pc;
    block-size: auto;
}
.mot{
    margin-top: 2pc;
}

.hob{
text-align: center center fixed;
margin: 0 auto;
background: rgba(255, 255, 255, 0.583);
border-radius: 100px ;
border: 2px solid rgba(123, 6, 6, 0.793);
box-shadow: 0 0 10px 0 rgba(123, 6, 6, 0.793);
margin-top: 8pc;
block-size: auto center fixed;
width: 90%;
}
.DIPLÔMES {
    color: black;
    height: 280px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.706);
    border-radius: 100px ;
    border: 2px solid rgba(123, 6, 6, 0.793);
    box-shadow: 0 0 10px 0 rgba(123, 6, 6, 0.793);
    block-size: auto;
}
.exp {color: black;
    text-align: center center fixed;
margin: 0 auto;
width: 90%;
background: rgba(255, 255, 255, 0.706);
border-radius: 100px;
border: 2px solid rgba(123, 6, 6, 0.793);
box-shadow: 0 0 10px 0 rgba(123, 6, 6, 0.793);
margin-top: 2pc;
block-size: auto ;}
