<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MaximeRDB.CV</title>
        <link rel="stylesheet" href="copiecv.css">
        <link rel="short cut icon" href="img/Gold.jpeg">
        <link rel="stylesheet" href="font/Cinzel/Cinzel-VariableFont_wght.ttf">
    </head>
    <body class="motiv1">
        <div>
<nav>
    <details>
        <summary class="dm">Découvrez-moi</summary>
      <ul>
          <li> <a href="index.html">Curriculum Vitae</a></li>
          <li> <a href="lettre.html">Lettre de motivation</a></li>
          <li> <a href="hobbies.html">Mes hobbies</a> </li>
          <li> <a href="portfolio.html">Mes projets</a> </li>
      </ul> </details></nav><br>
    
      
        <h1 class="A"><strong> Lettre de motivation</strong></h1><br>
 
        <div class="motiv">

    <h1 class="mot">Présentation en quelques mots</h1>
    <br>

    <p> Je viens de Toulouse ! <br>
        Après 4 à 5 ans d'études en hôtellerie/restauration sur la ville, 
        j'ai décidé de voyager grâce à mon travail en commençant par l'Australie! Oui c'est un peu loin pour un premier voyage seul. Un mélange d'inconscience et de fougue pour découvrir le monde. <br>
        Après mon premier voyage, l'envie de repartir à la découverte du monde a continué de me hanter. J'ai donc suivi avec le Panama, Costa Rica, Londres et plein d'autres! <br>
        <br> <hr> <br>
        Et puis là, on arrive à la période du Covid*19. Aïe la tuile, obligé de rentrer à la maison et de trouver un nouveau travail. Mais je rêvais de repartir, j'ai alors postulé pour un job saisonnier dans la ville de Biarritz. C'était un rythme effréné, avec des horaires de folie et une pression forte qui ne s'arrêtait jamais. <br>
        C'est là, à ce moment précis que je réalise que la vie défile bien vite. Il me faut un travail plus sérieux, avec des horaires où l'on n'oublierait pas de vivre, de manger à des horaires décents et de pouvoir voir ma femme plus de une fois par semaine. <br>
        <br> <hr> <br>
        C'est grâce au bouche à oreille que je découvre votre BootCamp. Après une longue réflexion et beaucoup de discussion autour du sujet avec mes proches et famille; je me rends compte que beaucoup de personnes autour de moi sont dans le métier de près ou de loin, en allant de l'étudiant à l'ingénieur. <br>
        Ne me voyant pas reprendre des études sur deux années, et étant une personne qui apprend vite, votre programme est donc le plus adapté à mes recherches et ambitions. <br>
        <br> <hr> <br>
        Je souhaiterais donc commencer par du web development full stack étant une personne plutôt rigoureuse, organisée, créative et autonome. <br>
        Après votre formation, mon but serait d'intégrer une entreprise travaillant dans le digital et les nouvelles technologies. <br>
         </p>
         <br></div>
         <br> <br>
         <footer>
            <br>
            <h2>CONTACTS</h2>
                  161 Chemin du Rayat, 31600 Muret, FRANCE <br>
                 <div class="tel">
                  <a href="tel:06 38 91 36 19 "><img src="img/phone.webp" alt="num"></a>
                  <a href="mailto:Maximerdb@hotmail.fr"><img src="img/lettre.webp" alt="mail"></a> <br>
                  <p> Si vous avez besoin de plus d'informations, je vous invite à me contacter par mail ou sms via les liens ci-dessus.
                  </p>
                </div>
                </footer>  
  </body>
  </html>
