<h1 class="A"><strong> Mes hobbies</strong></h1><br>

  <div class="hob">

  <h4>INTÉRÊTS</h4>

 J'ai beaucoup d'intérêt pour la musique : <br>
 <br>
  PIANO, BATTERIE et GUITARE (CHANT QUAND LES MURS SONT BIEN INSONORISÉS POUR LES VOISINS).
   <br>
   <br>
  ÉCLAIREURS DE FRANCE / Branche du scoutisme laïc (DEPUIS 2001), DIVERS SPORTS<br></p>

  <br><hr>
  <h5>VOYAGES</h5>
  <p>CAMBODGE, ESPAGNE, COSTA RICA,
  PANAMA, COLOMBIE, PORTUGUAL,
  GRÈCE, AUTRICHE, IRLANDE, <br>
  POLOGNE, ALLEMAGNE, TURQUIE,
  ITALIE, CHINE, AUTRALIE, PAYS BAS,
  ÉTATS-UNIS, ANGLETERRE. <br></p> <br></div>


